body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #0883bc;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    font-size: 19px;
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px 14px;
    text-align: center;
}



button {
    float: right;
    border: none;

    margin: 8px 11px 6px 11px;
    background-color: rgb(13, 237, 13);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    cursor: pointer;
    padding: 5px;

}

a:hover {
    border-bottom: 2px solid black;
}

button:hover {
    background-color: greenyellow;
    color: black;
}

#container {
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 100%;
    height: 695px;
    text-align: center;
    box-sizing: border-box;

}

.item1 {
    border: none;
    width: 500px;
    height: 300px;
    float: left;
    margin: 80px 0px 0px 400px;
    background-color: #0883bc;

    cursor: pointer;

}

.item2 {
    border: none;
    width: 500px;
    height: 300px;
    float: left;
    margin: 80px 200px 0px 0px;
    border-radius: 7px;
    cursor: pointer;

}

.item3 {
    border: none;
    width: 500px;
    height: 300px;
    float: left;
    margin: 0px 0px 0px 400px;
    border-radius: 7px;
    cursor: pointer;

}

.item4 {
    border: none;
    width: 500px;
    height: 300px;
    float: left;
    margin: 0px 200px 0px 0px;
    background-color: #0883bc;

    cursor: pointer;

}

.item-2 p,
h2 {
    text-align: center;
    margin-top: 24%;

}

.item-2 p {
    font-size: 10px;
    margin: 0;
    padding: 0;

}

.item-2 h2 {
    font-size: 10px;
    margin: 0;
    padding: 0;

}

.add1 {
    color: white;
}

.div1 {
    border: 1px solid black;
    width: 200px;
    height: 120PX;
    background-color: #0883bc;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

.div2 {
    border: 1px solid black;
    width: 200px;
    height: 120PX;
    background-color: #0883bc;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

.div3 {
    border: 1px solid black;
    width: 200px;
    height: 120PX;
    background-color: #0883bc;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#section {
    margin: 0px 320px 10px 400px;
    padding: 0;
    border: none;
    width: 59.5%;
    height: 130px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

#section h3 {
    margin: 25% 0 0 0;
    color: white;
    text-align: center;

}

.bottom {
    background-color: #0883bc;
    margin: 0px;
    padding: 10px;

}

address {
    color: whitesmoke;
    text-align: center;
    clear: both;
    font-size: 15px;
}
